.centergray{
    margin:auto;
    background-color: rgb(192, 192, 192);
    text-align: center;
    width: 50%;
}

.center{
    margin:auto;
    text-align:justify;
    width: 50%;
}

.profile{
    margin: auto;
    width: 15%;
}

.goldbar{
    border-bottom-width: 3px;
    border-color: rgb(248, 203, 88);
}

.ants{
    text-align: center;
    font-size: x-small;
}

h2{
    color:goldenrod;
}

h3{
    font-style: italic;
}